


body{
    margin:0;
    padding: 0;
    
}
a{
    text-decoration:none;
}

.show{
    display: block;
}

.hide{
    display:none;
}


.banner{
    background-image: url('../image/5.jpeg');
    background-size: cover;
    height:100vh;
    padding-top:10px;
   
}

header{
    color:white;
    padding:20px;
    /* background-color: #eee; */
}
.banner h3{
    font-weight: 200;
    color:white;
}

.navbar{
    background-color: rgba(255, 255, 255, 0.297);
    box-sizing:border-box;
    padding:0;
    
}
.navbar li a{
    display: inline-block;
    padding:10px;
    color: black;
    font-size: 22px;
    margin-left:30px;
    font-weight: 300;
    box-sizing: border-box;
    
}
.banner .navbar-brand{
    margin-left:10px;
}


.navbar-nav li a:hover{
    border:1px solod white;
    color:white;
    
}
.carousel{
    margin:120px;
    padding: 30px;
}

.carousel-item{
    color:white;
}
.carousel-item h1{
    font-size: 80px;
    font-weight: 700;
}

.carousel-item h4{
    font-family: 'Playfair Display', serif;
}

.carousel-item a{
    background: transparent;
    color: #ffffff;
    outline: 0;
    background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
}
.carousel-item a:hover{
    color: #ffffff;
    
}
.banner .form-inline{
    margin-right:10px;
}
.banner .form-inline a{
    background: transparent;
    padding:5px;
    color: #ffffff;
    outline: 0;
    background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
    margin-bottom:10px;

}


/* banner responsive  */


@media(max-width:1200px){
    .navbar li {
        font-size:15px;
    }
    .form-inline{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

}


@media (max-width: 992px){
    .banner{
        height: 700px;
    }
    .navbar-toggler{
        cursor: pointer;
    }
    .carousel-indicators{
        position: relative;
        top:450px;
    }

    .navbar{
        padding:0;
        margin:0;
    }
    .navbar-light .navbar-toggler{
        margin:10px;
        border-color:black;
    }

    .navbar-nav .nav-item {
    border-bottom: 1px solid black;
    text-align: center;
    }
    
    .navbar-nav li a{
        padding:10px;
        display: inline-block;
        font-weight: 400;
        font-size: 25px;  
    }
   
    .navbar-nav .nav-link{
      padding-right: 10px;
    }
    .carousel{
        text-align: center;
        margin:0;
        margin-top:60px !important;
        padding:20px;
    }
    .carousel-item h1{
        font-size:50px;
    }

    .form-inline{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
} 


/* why-us */

.container .image{
    background-image:url(../image/4.jpg);
    background-size: cover;
}
.why-us{
    padding:70px 0 20px 0;
    background-color: rgba(238, 238, 238, 0.482);
}
.right-info{
    background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
   
    
}
.why-us .row{
    margin-left:10px;
}
.why-us .title{
    padding:30px;
}
.why-us .pre-title{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color:white;
}
.why-us h2{
    font-size: 36px;
    color:white;
}
.why-us p{
    font-size: 14px;
    color:white;
}

.why-us li{
    font-size: 14px;
    color:white;
}


/* service */


.service{
    background-color: rgba(238, 238, 238, 0.482);
    height: auto;
    margin-bottom: 100px;
}
.service .title{
    margin-top:50px;
    margin-bottom:30px;
}
.service .title .pre-title{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #8f9397;
}

.service .title h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
 
}
.service .title p{
    font-size: 14px;
    color: #8f9397;
}
.service .row .feature-box{
    height: 300px;
    background-color: #fff;
    margin-right: 20px;
    padding:20px;
    box-shadow: 0px 0px 40px rgba(83, 88, 93, 0.1);
    box-sizing: border-box;
    border-radius: 3px;
}

.feature-box .feature-box-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 10px;
  
}

.feature-box p{
    font-size: 14px;
    color: #8f9397;
    margin-top:50px;
}
.feature-box-icon{
    float: left;
}
.service .feature-box:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: all .3s ease-in-out;
    transform: scale(1.05);

}
.feature-box-title{
    margin-left:80px;
    
}

/* responsive part */
@media (max-width: 992px){
    .service{
        height: auto;
        margin-bottom:20px;
    }
   .service .row .feature-box{
        margin-left:20px;
    }  
    
}

/* case responsive */

@media (max-width: 992px){
   .mainbox{
       margin-top:20px;
   }
    
}





    /* conuter */

    .counter{
        color:white;
        margin-top:40px;
        
        
    }
    .counter .counter-item-text{
        font-size: 14px;
    }
    .counter .pattern-overlay{
        border-radius: 3px;

    }
    .counter .text{
        margin-left:50px;
        text-align:left;
    }
    
    

    
    /* sign in */

    .sign{
        height: 200px;
        color: #fff;
        margin:0 80px;
        background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
        border-radius: 3px;
        margin-top:80px;
        
    }
    .sign .row{
        padding-top:50px;
    }
    .sign .btn-purple{
        margin-top:20px;
        padding:15px;
        font-weight: 400;
        cursor: pointer;
        color: #fff;
        background-color: #796eff;
        border-color: #796eff;
    }

    .sign .btn-light{
        margin-top:20px;
        padding:15px;
        font-weight: 400;
        cursor: pointer;
        color: black;
        background-color: white;
        border-color: #796eff;
    }

    /* sign responsive */

    @media (max-width: 992px){
        

        .sign{
            height:auto;
            margin:30px !important;
        }
        .sign .btn{
            padding:10px;
        }
    }







    /* contact us */

    .footer-content{
        padding:40px;
        margin-top:80px;
        color:#8f9397;
        font-size: 14px;
    }

    .footer-content h3{
        font-size: 30px;
        color:black;
    }

    .footer-content .bg-grad{
        margin-top:10px;
        background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
        border-radius: 3px;
        color:white;
    }


    .footer-content .address .icon{
        font-size: 20px;
        margin-top:5px;
        margin-right:10px;
    }

    .footer-content .primary-hover a{
       color:#8f9397;  
    }
    .footer-content .primary-hover a:hover{
        color:#28a745;  
     }


    /* case part */
     .case .mainbox{
        margin:20px 0;
     }
    .cases p{
        color:#8f9397;
        font-size: 14px;
    }
    .cases .bg-grad{
        background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
        color:white ! important;
    }
    .cases .bg-grad p{
        color:white ! important;
    }

    .cases .text-primary{
        color: #4cbd89 !important;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 40px;
    }
    .cases .title{
        margin-bottom: 10px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        line-height: 1.2;
        color: #343a40;
    }

    .cases .btn{
        margin-top:20px;
        padding:none;
        background:#4cbd89 ; 
    }
    .cases .btn a{
        color:white;
        margin:0;
    }
    .cases .btn a:hover{
       text-decoration: none;
    }
    .cases .box{
        border-radius: 3px;
    }
    .cases .box:hover{
        box-shadow: 0px 0px 10px rgba(83, 88, 93, 0.1);
    }


    .news{

        background-color: black;
    }



    /* team */

    .team{
        padding-top:30px;
        position: relative;
        margin:30px 0;
        background-color: rgba(238, 238, 238, 0.482);
        height: 700px;
    }
   .team .left, .team .right{
       display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        background: transparent;
        color: red;
        border: 2px solid #8f9397;
        font-weight: bold;
        border-radius: 50%;
        text-align: center;
   }

   .team .left{
       position: absolute;
       top:130px;
       left:-20px;
   }
   .team .right{
    position: absolute;
    top:130px;
    right:-20px;
}


    .team .left-info{
        width: 900px;
        margin:40px auto;
        text-align: center;
    }

    .team .left-info h2{
        font-family: "Playfair Display", serif;
        font-size: 24px;
        font-style: italic;
        margin-bottom: 10px;
    }

    .team .left-info p{
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .team .left-info h6{
        font-size: 14px;
        color: #8f9397;

    }


    .team .left-info .btn-grad{
        display: inline-block;
        font-weight: 500;
        color: white;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
        border: 2px solid transparent;
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        line-height: 1.6;
        border-radius: 3px;
    }

    .team .carousel{
        cursor: pointer;
        margin-top:70px;
        padding:0;
    }
    .team .carousel-item{
        padding:0 100px;
    }


    .team .carousel-inner{
       text-align: center;
    }
    .team .carousel-inner h2{
        font-size: 26px;
        font-weight: 400;
     } 
    .team .carousel-inner img{
        margin-bottom:20px;
     } 
     .team .carousel-inner p{
        margin-bottom:5px;
        font-size: 14px;
        color: black;
     } 


    .team img{
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
    .team h2{
        color:#8f9397;
    }

    .team .carousel:hover .control-icon{
        display: block;
    }

    /* team responsive */

    @media (max-width: 992px){
        .team{
            height:auto;
            padding-bottom:30px;
        }
      
       .team .carousel-item h2{
           font-size: 16px;
       }

       .team .control-icon .left{
           position: absolute;
           top:130px;
           left:10px;
       }

       .team .control-icon .right{
        position: absolute;
        top:130px;
        right:10px;
        }

        .team .control-icon i{
            font-size: 20px;
            }

         
     }

     




    /* back up */

    .back-top.btn-show {
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
    }

    .back-top {
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding:0;
        position: fixed !important;
        bottom: 80px;
        right: 25px;
        border-radius: 3px;
        display: block;
        text-align: center;
        z-index: 9999;
        background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
        transform: translateY(50%);
        transition: all 0.3s ease-in-out;
    }










/* Sign In page */

.sign-in{
    background:url(../image/2.jpg) no-repeat;
    background-color:  linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);;
    opacity: .4;
    height: 700px;
}

.sign-info{
    width: 500px;
    padding-top:150px;
    margin:0 auto;
}








    





